<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Helpdesk</title>
</head>
<body>
     <body>
        <h1>Login</h1>
        {% comment %} <form action="{% url 'login' %}" method="POST">{% csrf_token %}
            <input type="email" name="email" placeholder="Email" required><br>
            <input type="password" name="password" placeholder="Senha" required><br>
            
            <input type="submit" value="logar"><br><br>
        </form>

        <a href="{% url 'sign_up' %}">Não tem conta? Cadastre-se</a> {% endcomment %}
    </body>
</body>
</html>