<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastrar | Helpdesk</title>
    </head>
    <body>
        <h1>Cadastrar</h1>
        {% comment %} <form action="{% url 'sign_up' %}" method="POST">{% csrf_token %}
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="email" name="email" placeholder="Email" required><br>
            <input type="password" name="password" placeholder="Senha" required><br>
            
            <input type="submit" value="cadastrar"><br><br>

            <a href="{% url 'login' %}">Já tem conta? Faça login</a>
        </form> {% endcomment %}
    </body>
</html>